<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link  href="/css/error.css" type="text/css" rel="stylesheet">
    <link  href="/css/navbar.css" type="text/css" rel="stylesheet">
    <link  href="/css/footer.css" type="text/css" rel="stylesheet">

    <link  href="/src/main/resources/static/css/error.css" type="text/css" rel="stylesheet">
    <link  href="/src/main/resources/static/css/navbar.css" type="text/css" rel="stylesheet">
    <link  href="/src/main/resources/static/css/footer.css" type="text/css" rel="stylesheet">
   
    <meta charset="UTF-8">
    <title>Scissy | Error</title>
</head>
<body>

    <div th:insert="navbar" class="import"></div>


    <section>
        <h1>An error has occured!</h1>
        <img src="/icons/warning.svg" alt="">
        <div id="copyright">Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon.</a></div>

    </section>



    <div th:insert="footer" class="import"></div>


</body>
</html>