
<link rel="stylesheet" href="/footer.css" type="text/css">
<link  href="/src/main/resources/static/footer.css" type="text/css" rel="stylesheet">

<footer>
    <div id="top-bar"></div>

    <div class="footer-bg">

        <div class="credit">
            <div>Weather data from <a href="https://openweathermap.org/">OpenWeatherMap</a> </div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> and <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel Perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div> Made with <3 and eun ch'tio peu d'crème fraiche by <a href="https://github.com/jxmau">jxmau.</a> </div>
        </div>
        

    </div>

</footer>
